<!DOCTYPE html>
<html>
	<h1><%= username %>'s Home Page</h1>
	<form action='/follow' method='post'>
		<input type="text" value="<%= username %>">
		<input type="submit" value="follow">
	</form>
</html>
